@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome </h1>
    <p>
        <a href="https://instagram.com/bug__developer">Learn More</a><br />
        Using this you can learn how to Implement View Based Authorization In Asp .net core <br />
        you Can Simply Logut And Again Login With Other Credentials And Open The ImageUpload Url <br />
        using Operation's and Handlers Thanks ❤</p>
</div>
